input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked){
	position: absolute;
    left: -9999px;
}
input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label{
	display: inline-block;
    position: relative;
    padding-left: 38px;
    line-height: 20px;
    cursor: pointer;
}
input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before{
	content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
	border: 1px solid #3F46AD;
	box-sizing: border-box;
	border-radius: 5px;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after{
	content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 6px;
    top: 4px;
   	width: 18px;
	height: 14px;
    border-radius: 1px;
    border-left: 4px solid #3F46AD;;
    border-bottom: 4px solid #3F46AD;;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"]:not(:checked) + label:after, 
input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
}
#cb1 + label{
	font-family: "Open Sans";
	font-style: normal;
	font-weight: normal;
	line-height: 24px;
	font-size: 14px;
	color: #000000;
	padding-top: 2px;
}
input[type="checkbox"]:checked + label:after, 
input[type="radio"]:checked + label:after {
    opacity: 1;
}
.main_text {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}
#how-it-work .table {
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: 2fr;
}
.section_two{
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: url(../img/line.png) center center no-repeat;
}
.section_one,.section_three {
	display: grid;
    grid-row-gap: 100px;
}
.section_two img {
	height: 50px;
	width: 50px;
}
.table .block-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
#center_text {
	align-items: center;
}
.table .block-text h2{
	font-size: 20px;
	line-height: 30px;
}
.table .block-text p{
	font-size: 16px;
	line-height: 26px;
}
.table .block-image img{
	width: 265px;
	height: 265px;
}
.table .block-image {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.container {
	display: grid;
	grid-template-rows: 1fr 3fr;
}
.table {
	margin-bottom: 200px;
}
